# Default ignored files
/shelf/

# General
.DS_Store
.Thumbs.db
.vscode/

# Dart/Flutter specific
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.generated_plugin_registrant.dart
build/
pubspec.lock

# IDE specific
.idea/
*.iml
*.ipr
*.iws
*.idea/

# OS specific
*.swp
*.bak
*.tmp
*.temp

# Packages
.packages

# Flutter specific
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/.gradle
**/android/captures/
**/android/gradle-wrapper.jar

# Firebase files for Windows
**/build/windows/x64/extracted/**
**/windows/flutter/ephemeral/**

# Large binaries not usually needed
*.apk
*.aab
*.ipa
*.dll
*.so
*.dylib
*.lib
*.pdb
*.exe
*.msi
*.zip

# Logs and databases
*.log
*.sql
*.sqlite

# Node.js dependencies
node_modules/

# Bower components
bower_components/